# Copyright 2020-2023 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR GPL-3.0-or-later

Checks: >
  *,
  -*-c-arrays,
  -*-magic-numbers,
  -*-named-parameter,
  -*-narrowing-conversions,
  -*-no-malloc,
  -*-non-private-member-variables-in-classes,
  -*-unused-macros,
  -*-uppercase-literal-suffix,
  -*-vararg,
  -abseil-string-find-str-contains,
  -altera-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -cert-dcl21-cpp,
  -cert-dcl50-cpp,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-multiple-inheritance,
  -fuchsia-overloaded-operator,
  -google-readability-casting,
  -google-readability-todo,
  -google-runtime-references,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
FormatStyle: file
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
