Checks: >
  *,
  -*-c-arrays,
  -*-magic-numbers,
  -*-named-parameter,
  -*-narrowing-conversions,
  -*-no-malloc,
  -*-non-private-member-variables-in-classes,
  -*-unused-macros,
  -*-uppercase-literal-suffix,
  -*-vararg,
  -bugprone-branch-clone,
  -bugprone-forward-declaration-namespace,
  -cert-dcl50-cpp,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-diagnostic-unreachable-code-return,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-multiple-inheritance,
  -fuchsia-overloaded-operator,
  -google-readability-todo,
  -google-runtime-references,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -modernize-use-trailing-return-type,
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  -readability-make-member-function-const,
FormatStyle: file
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'